[bumpversion]
current_version = 1.0.0
commit = True
tag = True
tag_name = SwanNotificationsService/v{new_version}
message = SwanNotificationsService v{new_version}

[bumpversion:file:swannotificationsservice/_version.py]
