version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
      timezone: "Europe/Zurich"
    cooldown:
      default-days: 7
    groups:
       github-actions:
          patterns: ["*"]

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
      timezone: "Europe/Zurich"
    cooldown:
      default-days: 7
    groups:
       python-dependencies:
          patterns: ["*"]

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
      timezone: "Europe/Zurich"
    cooldown:
      default-days: 7
    groups:
       npm-dependencies:
          patterns: ["*"]
