{% extends "page.html" %}

{% block main %}

<style media="screen" type="text/css">
.btn-gonotebooks {
  color: #FFFFFF;
  background-color: #0053A1;
  border-color: #0053A1;
}

.btn-gonotebooks:hover,
.btn-gonotebooks:focus,
.btn-gonotebooks:active,
.btn-gonotebooks.active,
.open .dropdown-toggle.btn-gonotebooks {
  color: #FFFFFF;
  background-color: #0053A1;
  border-color: #0053A1;
}

.btn-gonotebooks:active,
.btn-gonotebooks.active,
.open .dropdown-toggle.btn-gonotebooks {
  background-image: none;
}

.btn-gonotebooks.disabled,
.btn-gonotebooks[disabled],
fieldset[disabled] .btn-gonotebooks,
.btn-gonotebooks.disabled:hover,
.btn-gonotebooks[disabled]:hover,
fieldset[disabled] .btn-gonotebooks:hover,
.btn-gonotebooks.disabled:focus,
.btn-gonotebooks[disabled]:focus,
fieldset[disabled] .btn-gonotebooks:focus,
.btn-gonotebooks.disabled:active,
.btn-gonotebooks[disabled]:active,
fieldset[disabled] .btn-gonotebooks:active,
.btn-gonotebooks.disabled.active,
.btn-gonotebooks[disabled].active,
fieldset[disabled] .btn-gonotebooks.active {
  background-color: #0053A1;
  border-color: #0053A1;
}

.btn-gonotebooks .badge {
  color: #0053A1;
  background-color: #FFFFFF;
}

.btn-shutdownnotebooks {
  color: #FFFFFF;
  background-color: #FF6600;
  border-color: #FF6600;
}

.btn-shutdownnotebooks:hover,
.btn-shutdownnotebooks:focus,
.btn-shutdownnotebooks:active,
.btn-shutdownnotebooks.active,
.open .dropdown-toggle.btn-shutdownnotebooks {
  color: #FFFFFF;
  background-color: #FF6600;
  border-color: #FF6600;
}

.btn-shutdownnotebooks:active,
.btn-shutdownnotebooks.active,
.open .dropdown-toggle.btn-shutdownnotebooks {
  background-image: none;
}

.btn-shutdownnotebooks.disabled,
.btn-shutdownnotebooks[disabled],
fieldset[disabled] .btn-shutdownnotebooks,
.btn-shutdownnotebooks.disabled:hover,
.btn-shutdownnotebooks[disabled]:hover,
fieldset[disabled] .btn-shutdownnotebooks:hover,
.btn-shutdownnotebooks.disabled:focus,
.btn-shutdownnotebooks[disabled]:focus,
fieldset[disabled] .btn-shutdownnotebooks:focus,
.btn-shutdownnotebooks.disabled:active,
.btn-shutdownnotebooks[disabled]:active,
fieldset[disabled] .btn-shutdownnotebooks:active,
.btn-shutdownnotebooks.disabled.active,
.btn-shutdownnotebooks[disabled].active,
fieldset[disabled] .btn-shutdownnotebooks.active {
  background-color: #FF6600;
  border-color: #FF6600;
}

.btn-shutdownnotebooks .badge {
  color: #FF6600;
  background-color: #FFFFFF;
}

</style> 

<div class="container">
  <div class="row">
    <div class="text-center">
      {% if user.running %}
      <a id="stop" class="btn btn-lg btn-danger">Shutdown my Notebooks</a>
      {% endif %}
      <a id="start" class="btn btn-lg btn-success"
      {% if user.running %}
        href="{{base_url}}user/{{user.name}}/"
      {% else %}
        href="{{base_url}}spawn"
      {% endif %}
      >
      {% if user.running %}
      Go to my Notebooks
      {% else %}
      Go to my Notebooks
      {% endif %}
      </a>
      {% if user.admin %}
      <a id="admin" class="btn btn-lg btn-primary" href="{{base_url}}admin">Admin</a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
require(["home"]);
</script>
{% endblock %}
