{% extends "page.html" %}
{% if announcement_home %}
  {% set announcement = announcement_home %}
{% endif %}

{% block main %}


<div class="container">
  <div class="row">
    <div class="swan-info">
    {% if user.admin %}
      <a href="https://swan.web.cern.ch" target="_blank"><img src="/hub/static/swan/logos/logo_swan_letters.png" width="27%"></a>
      {% if user.running %}
      <a id="stop" class="btn btn-lg btn-shutdownnotebooks btn-primary">Shutdown my Notebooks</a>
      {% endif %}
      <a id="start" class="btn btn-lg btn-gonotebooks btn-primary"
      {% if user.running %}
      href="{{base_url}}user/{{user.name}}/"
      {% else %}
      href="{{base_url}}spawn"
      {% endif %}
      >
      {% if user.running %}
      Go to my Notebooks
      {% else %}
      Go to my Notebooks
      {% endif %}
      </a>
      <a id="admin" class="btn btn-lg btn-primary" href="{{base_url}}admin">Admin</a>
    {% else %}
      <div id="swan-loader">
        <div class="loader-circle">
          <img src="/hub/static/swan/logos/logo_swan_letters.png">
        </div>
        <div class="loader-line-mask">
          <div class="loader-line"></div>
        </div>
        <span class="text">Starting SWAN</span>
      </div>
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">

{% if not user.admin %}
require(['jquery', 'jhapi'], function ($, JHAPI) {

    {% if user.running %}

    if(window.location.hash == '#changeconfig') {

        $('#swan-loader .text').text('Shutting down your session');

        var base_url = window.jhdata.base_url;
        var user = window.jhdata.user;
        var api = new JHAPI(base_url);

        api.stop_server(user, {
            success: function () {
                window.location.replace('{{base_url}}spawn?changeconfig');
            },
            error: function () {
                $('#swan-loader .text').html('<p class="extra">There was an error shutting down your session.<br>Try again later.<br><a href="{{base_url}}">Click here to return to SWAN</a></p>');
                $('#swan-loader .loader-line-mask').hide();
            }
        });

    } else {
        window.location.replace('{{base_url}}user/{{user.name}}/projects');
    }

    {% else %}
    window.location.replace('{{base_url}}spawn');
    {% endif %}

});
{% else %}

require(["home"]);
{% endif %}

</script>
{% endblock %}
