{% extends "page.html" %}
{% if announcement_home %}
  {% set announcement = announcement_home %}
{% endif %}

{% block main %}


<div class="container">
  <div class="row">
    <div class="swan-info">
      <div id="swan-loader">
        <div class="loader-circle">
          <img src="/hub/static/swan/logos/logo_swan_letters.png">
        </div>
        <div class="loader-line-mask">
          <div class="loader-line"></div>
        </div>
        <span class="text">Starting SWAN</span>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">

require(['jquery', 'jhapi'], function ($, JHAPI) {

    {% if user.running %}

    if(window.location.hash == '#changeconfig') {

        $('#swan-loader .text').text('Shutting down your session');

        var base_url = window.jhdata.base_url;
        var user = window.jhdata.user;
        var api = new JHAPI(base_url);

        api.stop_server(user, {
            success: function () {
                window.location.replace('{{base_url}}spawn?changeconfig');
            },
            error: function () {
                $('#swan-loader .text').html('<p class="extra">There was an error shutting down your session.<br>Try again later.<br><a href="{{base_url}}">Click here to return to SWAN</a></p>');
                $('#swan-loader .loader-line-mask').hide();
            }
        });

    } else {
        window.location.replace('{{base_url}}user/{{user.name}}/projects');
    }

    {% else %}
    window.location.replace('{{base_url}}spawn');
    {% endif %}

});

</script>
{% endblock %}
