{% extends "page.html" %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="text-center">
      <p>Your server is starting up.</p>
      <p>You will be redirected automatically when it's ready for you.</p>
      <a id="refresh" class="btn btn-lg btn-primary" href="#">refresh</a>
    </div>
  </div>
</div>

<footer>
  <p align="center"><b><a href="https://swan.web.cern.ch">SWAN</a></b>: <b>S</b>ervice for <b>W</b>eb based <b>AN</b>alysis</p>
  <p align="center">Copyright CERN</p>
</footer>

{% endblock %}

{% block script %}
<script type="text/javascript">
require(["jquery"], function ($) {
  $("#refresh").click(function () {
    window.location.reload();
  })
  setTimeout(function () {
    window.location.reload();
  }, 5000);
});
</script>
{% endblock %}
