# Workflow to run unit tests on pull requests that change KeyCloakAuthenticator.
# Sets up python, installs requirements-dev.txt, and runs pytest

on:
  pull_request:
    paths:
      - KeyCloakAuthenticator/**

jobs:
  check_unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'

      - name: Install testing dependencies
        working-directory: KeyCloakAuthenticator/
        run: |
          pip install -e .[dev]

      - name: Run Unit tests
        working-directory: KeyCloakAuthenticator/
        run: pytest